.modal-content {
    background-color: rgb(16, 16, 16);
    padding: 12px;
    color: rgb(239, 239, 239);
    font-family: 'Secular One';
    border: 2px solid rgb(109, 109, 109);
    letter-spacing: 0.025em;
}

