.movieInfo {
    color: white;
    list-style: none;
    font-size: 30px;
    font-family: 'Secular One';
}

.detailsImg {
    width: 450px;
}

.movieInfoTitles {
    font-weight: 700;
    font-size: 35px;
    color: rgb(98, 98, 223);
}

.login-to-add {
    font-family: 'Secular One';
    color: white;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {

    .detailsImg {
        width: 328px;
        margin: 0 auto;
    }

    .movieInfoTitles {
        font-weight: 700;
        font-size: 25px;
        color: rgb(98, 98, 223);
        
    }

    .movieInfo {
        color: white;
        list-style: none;
        font-size: 20px;
        font-family: 'Secular One';
        padding-top: 8px;
    }


  }