.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;    
}

.Auth-form {
  width: 500px;
  padding-top: 30px;
  padding-bottom: 20px;

  
}

.formLabel {
  font-family: 'Secular One';
  font-size: 15px;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 30px;
  color: rgb(40, 145, 251);
  font-weight: 800;
  font-family: 'Secular One';
}

label {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

btn {
  background-color: black;
}


@media only screen and (max-width: 600px) {

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;    
  }


}