.movie-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.movie {
	border-radius: 3px;
	margin: 2rem;
	position: relative;
	overflow: hidden;
	width: 250px;
    transition: transform 300ms ease 100ms;
}

.movie img {
	object-fit: cover;
	height: 400px;
	width: 100%;
}


.movie:hover {
    transform: scale(1.2) !important;
	cursor: pointer;
}

.overlay {
	position: absolute;
	color: white;
	font-family: 'Secular One';
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.image-container:hover .overlay {
	opacity: 1;
}